.card {
    align-items: center;
    background: #735bf2;
    border-radius: 10px;
    color: #fff;
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 24px;
    width: 50%;
}

.card strong {
    font-size: 18px;
}
