.container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 84px 0 24px;
    width: 50%;
}

.container header img {
    border-radius: 30px;
    height: 60px;
    margin-left: 7px;
}

.container header div {
    align-items: center;
    display: flex;
}

.container input {
    background: #E6E6E6;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 24px;
    width: 50%;
}

.container button {
    background: #EA4C89;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    margin: 12px 0 84px;
    padding: 24px;
    transition: filter .2s;
    width: 50%;
}

.container button:hover {
    filter: brightness(.9);
}

